// Fonts
$defaultFont: "Open Sans", sans-serif;
$secondaryFont: 'work-Sans', sans-serif;

// Colors
$defaultColor: #121212;
$defaultColorAlt: #212121;
$defaultLightColor: #989898;
$defaultLighterColor: #d5d5d5;
$borderColor: lighten($defaultColor, 60%);

$primaryColor: #FF9B0D;
$primaryLightColor: #ffcd86;
$primaryLighterColor: #ffebce;

$secondaryColor: #0554A4;
$secondaryLightColor: #5087bf;
$secondaryLighterColor: #cddcec;

$purpleColor: #8c52ff;
$greenColor: #3DD156;
$lightGreenColor: #B1D328;
$blueColor: #38b6ff;
$blueLightColor: #E1F4FF;
$yellowColor: #FFDE59;
$orangeColor: #ff914d;
$orangeLightColor: #FFEFE4;
