.category-body {
    .category-body-hover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 0;
        border-radius: 100%;
        transform: scale(0);
        transition: all 0.3s ease;
        ul {
            li {
                display: inline-block;
                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.08);
                padding: 9px 14px;
                background-color: #fff;
                font-size: 18px;
                border-radius: 100%;
                line-height: 1.6;
                height: 45px;
                width: 45px;
                margin: 0 3px;
                .btn {
                    padding: 0;
                    background-color: transparent;
                }
                &:hover {
                    background-color: #FA6039;
                    .btn, i {
                        color: #fff;
                    }
                    transition: all 0.3s ease;
                }
            }
        }
    }
    &:hover {
        .category-body-hover {
            opacity: 1;
            border-radius: 0%;
            transform: scale(1);
            transition: all 0.3s ease;
        }
    }
}


.product-body {
    .product-body-hover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(255, 255, 255, 0.7);
        opacity: 0;
        border-radius: 100%;
        transform: scale(0);
        transition: all 0.3s ease;
        ul {
            li {
                display: inline-block;
                box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.08);
                padding: 9px 14px;
                background-color: #fff;
                font-size: 18px;
                border-radius: 100%;
                line-height: 1.6;
                height: 45px;
                width: 45px;
                margin: 0 3px;
                .btn {
                    padding: 0;
                    background-color: transparent;
                }
                &:hover {
                    background-color: #FA6039;
                    .btn, i {
                        color: #fff;
                    }
                    transition: all 0.3s ease;
                }
            }
        }
    }
    &:hover {
        .product-body-hover {
            opacity: 1;
            border-radius: 0%;
            transform: scale(1);
            transition: all 0.3s ease;
        }
    }
}